<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>BRENBOT</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <div class="jumbotron">
      <h1 class="display-4">Bem vindo!</h1>
      <p class="lead">Acesse o bot via telegram para traduzir qualquer palavra de português para inglês e vice versa.</p>
      <hr class="my-4">
      <p>Acesse meu github para mais projetos...</p>
      <a class="btn btn-primary btn-lg" href="https://t.me/bren_ls_bot" role="button">Acessar BOT</a>
      <a class="btn btn-info btn-lg" href="https://github.com/lsolino" role="button">GITHUB</a>
    </div>
  </body>
</html>